.PaginationComponent {
    margin-bottom: 15px;

}

.PaginationComponent button {
    margin: 0 3px 0 3px;
    background: none;
    border-radius: 10px;
    border: #4b4949 solid 2px;
    color: #4b4949;
    cursor: pointer;
    animation: backwards;
}

.PaginationComponent button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.PaginationComponentDark button:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
