.SearchListCard {
    font-size: 25px;
    box-shadow: 10px 10px 38px 0 rgba(0, 0, 0, 0.96);
    border-radius: 10px;
    width: fit-content;
    margin: 10px;
}

.SearchListCard h3 {
    margin: 3px;
    padding: 3px;
}