.MovieList {
    width: 1200px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}